body {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0;
    margin-bottom: 90px;
    background-color: rgb(245, 245, 245);
}

.container {
    max-width: 1170px;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
}

.header {
    display: inline-block;
    width: 100%;
    background-color: rgb(96, 125, 139);
    box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 20px 0px;
}

h1 {
    text-align: center;
    color: white;
}

.action-tray {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(84, 110, 122);
    box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 20px 0px;
}

button {
    display: block;
    margin: 0 auto 0 auto;
    background-color: rgb(0, 145, 234);
    transition: background-color .2s ease-out;
    color: whitesmoke;
    border: none;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

button:hover {
    background-color: rgb(64, 196, 255);
    transition: background-color .2s ease-out;
    cursor: pointer;
}

#dice {
    margin: 10px 0 10px 0;
}

.d6 {
    display: inline-block;
    background-color: cornflowerblue;
    color: whitesmoke;
    width: 70px;
    height: 70px;
    font-size: 22px;
    line-height: 70px;
    border-radius: 8px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.results-pane {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(245, 245, 245);
    padding-top: 10px;
}

.results-pane button {
    font-size: 22px;
}

#result {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}