body {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0;
    margin-bottom: 90px;
    background-color: rgb(245, 245, 245);
}

.container {
    max-width: 1170px;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
}

.dice-tray {
    padding-bottom: 10px;
    background-color: rgb(84, 110, 122);
    box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 20px 0px;
    text-align: center;
}

button {
    display: inline-block;
    background-color: rgb(0, 145, 234);
    transition: background-color .2s ease-out;
    color: whitesmoke;
    border: none;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.dice-tray button {
    width: 30%;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(64, 196, 255);
    transition: background-color .2s ease-out;
    cursor: pointer;
}

#dice {
    margin: 10px 0 10px 0;
}

.die {
    display: inline-block;
    background-color: cornflowerblue;
    color: whitesmoke;
    width: 70px;
    height: 70px;
    font-size: 22px;
    line-height: 70px;
    border-radius: 8px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.action-tray {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 90px;
    background-color: rgb(245, 245, 245);
    padding-top: 10px;
    text-align: center;
}

.action-roll {
    flex-grow: 1;
}

.action-roll button {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px inset, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px inset;
}

.action-clear {
    flex-grow: 1;
}

.action-clear button {
    width: 100%;
    height: 100%;
    background-color: #b71c1c;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px inset, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px inset;
}

.action-clear button:hover {
    width: 100%;
    background-color: #f44336;
}